.FileUpload {
  border: 1px solid #dadce0;
  height: auto;
  width: 640px;
  background-color: white;
  border-radius: 9px;
  padding: 25px;
  margin-bottom: 12px;
  padding-bottom: 32px;
}

.uploadIcon {
  fill: #1a73e8;
}

@media only screen and (max-width: 700px) {
  .FileUpload {
    width: 95%;
  }
}
