.Mcq {
  border: 1px solid #dadce0;
  height: auto;
  width: 640px;
  background-color: white;
  border-radius: 9px;
  padding: 25px;
  margin-bottom: 12px;
}

.sectionHeading {
  font-size: 12pt;
  margin-bottom: 20px;
}

.red {
  color: rgb(217, 48, 37);
}

@media only screen and (max-width: 700px) {
  .Mcq {
    width: 95%;
  }
}
